<div id="wrap" class="container">

  <h3 id="whosTurn" align="center" style="color:green"></h3>
  <h3 id="gameEnd" align="center" style="color:blue"></h3>
  <h3 id="gameFull" align="center" style="color:red"></h3>

</div>


<div class="container" style='margin-bottom: 100px;'>
  <div class="row">
    <div class="game-board col-xs-9">
      <div class="row">
        <div id="topHand" class="col-xs-12 text-center">
          <p>Teammate</p>
          <img src="../img/back-of-card.png" style="width:76px;height:100px;">
          <img src="../img/back-of-card.png" style="width:76px;height:100px;">
          <img src="../img/back-of-card.png" style="width:76px;height:100px;">
          <img src="../img/back-of-card.png" style="width:76px;height:100px;">
          <img src="../img/back-of-card.png" style="width:76px;height:100px;">
        </div>
      </div>
      <div class="row">
        <div id="leftHand" class="col-xs-2 text-left">
          <p>Opponent1</p>
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
        </div>
        <div id="center" class="col-xs-offset-1 col-xs-6" style="padding-top: 50px;">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <img src="../img/back-of-card.png" style="width:76px;height:100px;">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
            </div>
            <div class="col-xs-offset-4 col-xs-4">
              <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <img src="../img/back-of-card.png" style="width:76px;height:100px;">
            </div>
          </div>
        </div>
        <div id="rightHand" class="col-xs-2 pull-right">
          <p>Opponent2</p>
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
          <img src="../img/back-of-card-rotated.png" style="width:100px;height:76px;">
        </div>
      </div>
      <div class="row">
        <div id="yourHand" class="col-xs-offset-3 col-xs-6">
          <div ng-show="status.waiting && status.waitingOn > 0">
            <img src="../img/back-of-card.png" style="width:76px;height:100px;">
            <img src="../img/back-of-card.png" style="width:76px;height:100px;">
            <img src="../img/back-of-card.png" style="width:76px;height:100px;">
            <img src="../img/back-of-card.png" style="width:76px;height:100px;">
            <img src="../img/back-of-card.png" style="width:76px;height:100px;">
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col-xs-offset-3 col-xs-6 text-center">Your Hand</p>
      </div>
    </div>
    <div class="col-xs-3">
      <div>
        <h3>Game Info</h3>
        <p>Game Name: {{gameName}}</p>
        <p>Your Team's Score: {{0}}</p>
        <p>Opposing Team's Score: {{0}}</p>
      </div>
      <div>
        <h3>This hand</h3>
        <p>Trump: {{currentTrump}}</p>
        <p>Your tricks won: {{0}}</p>
        <p>Teammate tricks won: {{0}}</p>
        <p>Opponent1 tricks won: {{0}}</p>
        <p>Opponent2 tricks won: {{0}}</p>
      </div>
      <div>
        <img src="../img/back-of-card.png" style="width:76px;height:100px;">
        <div id="drawCard">draw card</div>
      </div>
    </div>
  </div>


</div>

<div class="bottom-bar navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" style="margin-left: 400px;">
    <div class="status">
      <p class="navbar-text" ng-show="status.waiting && status.waitingOn > 0">Waiting on: {{status.waitingOn}} player(s) to join</p>
      <p class="navbar-text" ng-show="won == -1 &&  yourturn != -1 && yourturn">Your Turn</p>
      <p class="navbar-text" ng-show="won == -1 &&  yourturn != -1 && !yourturn">Opponent's Turn</p>
      <p class="navbar-text" ng-show="won == 1">You win!</p>
      <p class="navbar-text" ng-show="won == 0">You lose!</p>
      <p class="navbar-text" ng-show="gameFull">This game is full!</p>
      <button id="again_btn" class="btn btn-primary navbar-btn status-btn-right" ng-hide="won == -1" ng-click="playAgain()">Play Again?</button>
      <button id="again_btn" class="btn btn-primary navbar-btn status-btn-right" ng-hide="bidding == 0" ng-click="order()">Order Up</button>
      <button id="again_btn" class="btn btn-primary navbar-btn status-btn-right" ng-hide="bidding == 0" ng-click="pass()">Pass</button>
    </div>
    <div class="instructions">
      <!--NEED TO IMPLEMENT INSTRUCTIONS -->
    </div>
  </div>
</div>
