<div id="wrap" class="container">

  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Game Menu</h2>
    </div>

  </div>
  <h3>Join Existing Game</h3>
  <form name="joinForm" novalidate>
    <fieldset class="form-group">
      <label for="gameSelect">Existing Games</label>
      <select class="form-control" id="gameSelect" ng-model="joinData.joinName" required>
        <option ng-repeat="option in joinData.options" value="{{option.name}}" ng-disabled="option.number == 0">{{option.name}} - {{option.number}} player(s) needed</option>
      </select>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-disabled="!joinForm.$valid" ng-click="joinGame()">Join</button>
    <button class="btn btn-secondary" ng-click="getGameOptions()">Refresh List</button>
  </form>

  <h3>Create New Game</h3>
  <form name="createForm" novalidate>
    <fieldset class="form-group" ng-class="{'has-error': !createForm.gameName.$valid && createForm.gameName.$touched}">
      <label for="inputName">Game Name</label>
      <input name="gameName" ng-model="createData.createName" required type="text" class="form-control" id="inputName" placeholder="Enter name">
    </fieldset>
    <fieldset class="form-group" ng-class="{'has-error': !createForm.players.$valid && createForm.players.$touched}">
      <label for="numPlayers">Number of Players (2 to 10)</label>
      <input name="players" ng-model="createData.numberOfPlayers" required type="number" class="form-control" id="numPlayers" placeholder="2" min="2" max="10">
    </fieldset>
    <fieldset class="form-group" ng-class="{'has-error': !createForm.tokens.$valid && createForm.tokens.$touched}">
      <label for="numTokens">Number of Tokens (1 to 10)</label>
      <input name="tokens" ng-model="createData.numberOfTokens" required type="number" class="form-control" id="numTokens" placeholder="3" min="1" max="10">
    </fieldset>
    <fieldset class="form-group" ng-class="{'has-error': !createForm.map.$valid && createForm.map.$touched}">
      <label for="mapSelect">Map</label>
      <select name="map" class="form-control" id="mapSelect" required ng-model="createData.map" ng-change="changeMapSelection(createData.map)">
        <option value="USA">USA</option>
        <option value="Ames">Ames</option>
        <option value="Custom">Custom</option>
      </select>
    </fieldset>
    <div id="mapCust" class="row" ng-show="vis" >
      <div class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
        <div id="customMap" style="height: 400px;"></div>
      </div>
      <br>
    </div>
    <fieldset class="form-group" ng-class="{'has-error': !createForm.range.$valid && createForm.range.$touched}">
      <label for="rangeSelect">Token Find Difficulty (Radius in miles)</label>
      <input name="range" type="number" class="form-control" required id="rangeSelect" ng-model="createData.precision" min=".1" max="1000">
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="createGame()">Create</button>
  </form>
</div>
