<div id="wrap" class="container">

  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Game Menu</h2>
    </div>

  </div>
  <h3>Join Existing Game</h3>
  <form name="joinForm" novalidate>
    <fieldset class="form-group">
      <label for="gameSelect">Existing Games</label>
      <select class="form-control" id="gameSelect" ng-model="joinData.joinName" required>
        <option ng-repeat="option in joinData.options" value="{{option.name}}" ng-disabled="option.number == 0">{{option.name}} - {{option.number}} player(s) needed</option>
      </select>
    </fieldset>
    <button type="submit" class="btn btn-primary" ng-disabled="!joinForm.$valid" ng-click="joinGame()">Join</button>
    <button class="btn btn-secondary" ng-click="getGameOptions()">Refresh List</button>
  </form>

  <h3>Create New Game</h3>
  <form name="createForm" novalidate>
    <fieldset class="form-group" ng-class="{'has-error': !createForm.gameName.$valid && createForm.gameName.$touched}">
      <label for="inputName">Game Name</label>
      <input name="gameName" ng-model="createData.createName" required type="text" class="form-control" id="inputName" placeholder="Enter name">
    </fieldset>

    <button type="submit" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="createGame()">Create</button>
  </form>
</div>
